@charset "EUC-JP";

/* デフォルトスタイルクリア*/
@import "reset.css"; 

/* --- 全体の背景・テキスト --- */
body {
width: 990px;
margin: 0;
padding: 0;
background-color: #ffffff; 
color: #000000;
font-size: 80%;
font-family: "メイリオ",sans-serif;
}

/* --- コンテナ --- */
#content {
width: 970px; /* コンテナの幅 */
margin: 0 auto; /* センタリング */
}

/* --- ヘッダ --- */
#header {
padding: 0; /* ヘッダの帯のパディング（上下左右） */
height: 46px;
background: url(./image/sample_03.png) repeat-x top; /* ヘッダの帯 */
}

/* --- ヘッダインナー --- */
#header .header_inner {
width: 970px;
margin: 0 auto;
padding: 0; /* ヘッダの帯のパディング（上下左右） */
border: 0;
position: relative;
}

/* --- ロゴ --- */
h1.logo {
height: 65px;
width: 258px;
border: 0;
margin: 44px 8px 0 12px;
position: absolute;
top: -13px;
}

/* --- グローバルメニューエリア --- */
#header ul {
width: 680px; /* 幅 */
float: right;
margin: 68px 0 28px 0;
}

#header ul li{
float: left; /* グローバルメニューの左寄せ */
}

/* --- floatの解除 --- */
.clear {
clear: both;
}

/* --- メインコンテンツ全体 --- */
#content  {
width: 940px; /* 幅 */
}

/* --- 採用トップメイン画像 --- */

#content .bps00 {
margin-top: 10px;
}

/* --- 採用トップメイン画像下タイトル --- */
#content .bps01 {
padding: 10px 0 10px 45px;
background: url(./image/sample_14.png) repeat;
}

/* --- 入力フォーム横画像 --- */
img.image01 {
background: url(./image/sample_14.png) repeat;
float: right;
padding-bottom: 40px;
}

/* --- 入力フォーム --- */
.form {
width: 695px; /* 幅 */
margin: 0 auto;  /*センタリング */
background: url(./image/sample_14.png) repeat;
float: left;
}

/* --- 応募コンテンツ --- */
.oubo {
width: 608px; /* 幅 */
height: 280px;
text-align: left;
background: url(./image/sample_80.png) repeat;  /*入力フォームの背景 */
padding: 20px;/* 入力フォームのパディング（上下左右） */
margin:5px 0 0 0;/* 入力フォームのマージン */
border: 1px #bdb76b solid;
float: right;
}

/* --- 応募コンテンツ内画像 --- */

#content ul.oubo img.job01 {
margin: 5px 0 10px 0;
}

#content ul.oubo img.job02 {
margin: 10px 0 10px 0;
}

#content ul.oubo img.job03{
margin: 28px 20px 20px 0;
float: left;
}

#content ul.oubo img.job04,
#content ul.oubo img.job05 {
margin: 20px 20px 20px 0;
float: left;
}

/* --- 応募コンテンツ(下のボックス） --- */
.oubo_bottom {
width: 608px; /* 幅 */
height: 50px;
text-align: left;
background: url(./image/sample_80.png) repeat;  /*入力フォームの背景 */
padding: 20px;/* 入力フォームのパディング（上下左右） */

border: 1px #bdb76b solid;
float: right;
}

img.job06,
img.job07 {
margin: 20px 165px 0 0;
float: left;
}

/* --- 入力フォーム横 --- */
img.job08 {
padding: 10px 0 30px 45px;
}

/* --- 会社紹介コンテンツ --- */
.company {
width: 910px; /* 幅 */
background: url(./image/sample_80.png) repeat;
padding: 30px 0 30px 30px;
margin: 0 auto;  /*センタリング */
float: left;
}

/* --- サービス事例の各ボックス --- */
.box01,
.box02,
.box03,
.box04,
.box05 {
width: 500px;
padding: 1px 1px 0 0;
line-height: 130%;
font-family: "メイリオ",sans-serif;
letter-spacing: 0.3px
}

/* ---イメージ写真--- */
img.image02 {
padding: 0 10px 2px 15px;
float: right;
}

/* ---自社サービス各タイトル--- */
.works_box h3 {
float: left;
}

/* ---BPSについての文章--- */
.gaiyo01,
.gaiyo02,
.gaiyo03,
.gaiyo04,
.gaiyo05 {
width: 600px;
float: left;
padding: 20px 0 10px;
font-size: 80%;
}

/* ---自社サービス一例--- */
img.service_example {
padding: 20px 0;
}

/* ---イメージ写真(コラマネ〜Tech Racho)--- */
.works_box p img {
float: right;
}

/* ---コラマネ〜Tech Rachoのボックス---*/
.works01,
.works02,
.works03,
.works04 {
background: repeat scroll #ffffff; /* ナビゲーションの背景色 */
width: 840px;
border: 1px #e1e1cf solid;
padding: 20px;
margin-bottom: 10px;
} 

/* --- 募集職種左カラムのタイトル --- */
.recruit_left{
width: 578px; /* ナビゲーションの幅 */
background-color: #ffffff; /* ナビゲーションの背景色 */
float: left;
margin-bottom: 60px;
}

/* --- 募集職種左カラムのタイトル --- */
img.re00,
img.re01,
img.re02 {
margin: 20px 0 ;
}

/* --- 募集職種左カラムのテキスト --- */
.text,
.text01 {
margin-bottom: 15px;
font-size: 80%;
line-height: 130%;
font-family: "メイリオ",sans-serif;
letter-spacing: 0.3px;
}


/* --- 募集職種左カラム メニュー項目エリア --- */
.tab {
clear: both;
display: block;
height: 50px;
width: 578px;
margin: 20px 0;
background: url(./image/sample_163.png) repeat-x scroll left bottom transparent;
}

/* --- 募集職種左カラム 各メニュー項目 --- */
#content .recruit_left ul.tab li {
float: left;
margin-left: 5.5px;
}

/* --- 募集職種左カラム 職種別項目小見出し --- */
table.bpsrecruit td.sub00 {
width: 150px;
font-size: 80%;
font-family: "メイリオ",sans-serif;
background: url(./image/sample_163.png) repeat-x bottom transparent;
font-weight: bold;
color: #0abaa3;
padding: 10px 0;
}

/* --- 募集職種左カラム 職種別項目説明 --- */
table.bpsrecruit td.info00 {
width: 428px;
font-size: 80%;
font-family: "メイリオ",sans-serif;
background: url(./image/sample_163.png) repeat-x bottom transparent;
border: 0 none;
padding: 10px 0;
}

/* --- 募集職種左カラム 望ましいスキルの説明 --- */
table.bpsrecruit td.info01 {
width: 428px;
font-size: 80%;
font-family: "メイリオ",sans-serif;
border: 0 none;
}

/* --- 募集職種右カラムのタイトル --- */
.recruit_right{
width: 342px; /* ナビゲーションの幅 */
background-color: #ffffff; /* ナビゲーションの背景色 */
float: right;
margin-top: 94px;
}

/* --- 募集職種右カラム 条件小見出し --- */
table.bpsrecruit02 td.sub {
font-size: 80%;
font-family: "メイリオ",sans-serif;
font-weight: bold;
color: #0abaa3;
background: url(./image/sample_163.png) repeat-x;
border-left: 1px solid #d0d0d0;
border-right: 1px solid #d0d0d0;
padding: 12px 12px 0 12px;
}

/* --- 募集職種右カラム 職種別項目説明 --- */
table.bpsrecruit02 td.info {
font-size: 80%;
font-family: "メイリオ",sans-serif;
border-left: 1px solid #d0d0d0;
border-right: 1px solid #d0d0d0;
padding: 0 12px 12px 12px;
}

/* --- 応募方法＆よくある質問ボックス --- */
.ready{
clear: both;
}

/* ---よくある質問--- */
.question {
width: 940px;
}

.question ul.qa li {
padding: 16px 20px 0 ;
border: 1px solid #e7e7e7;
line-height: 150%;
font-family: "メイリオ",sans-serif;
font-size: 80%;
}

/* ---質問画像--- */
.question .questionimage {
background: url(./image/sample_168.png) no-repeat scroll;
height: 28px;
padding-left: 38px;
}

/* ---回答画像--- */
.question .answerimage {
background: url(./image/sample_171.png) no-repeat scroll;
line-height: 28px;
padding-left: 38px;
margin-bottom: 16px;
}

/* --- フッター全体 --- */
#footer {
background: url(./image/sample_200.png) repeat-x scroll 0 100px transparent; /* ヘッダの帯 */
padding-top: 20px;
}

/* --- フッターインナー --- */
.footer_inner {
width: 940px;
height: 226px;
margin: 0 auto;
text-align: left;
}

/* --- ページの先頭へリンク --- */
.pagetop {
border: 0;
float: right;
height: 49px;
width: 117px;
margin-top: 51px;
}

/* --- 個人情報メニューエリア --- */
.bottom {
height: 80px;
margin: 0 auto;
}

/* --- フッターメニュー（プライバシーマーク） --- */
.privacymark {
padding: 0 20px 0 0;
float: left; /* グローバルメニューの左寄せ */
}

/* --- フッターメニューエリア --- */
#footer ul li {
left: 100px;
float: left; /* フッターメニューの左寄せ */
margin-top: 50px;
}

/* --- フッターメニュー --- */
#footer ul li img .privacy,
#footer ul li img .privacy_release,
#footer ul li img .sitemap {
padding: 30px 0 0 5px;
}

/* --- フッターメニュー（境界） --- */
.border {
padding: 0 5px;
color: #e7e7e7;
font-family: "メイリオ",sans-serif;
}

/* --- コピーライト --- */
.copyright {
text-align: left;

}
